<div class="jumbotron">
    <h1>BossID Vendor Service API</h1>
    <p class="lead">REST API used by BossID to access vendor services and data</p>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>